*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --cafe: #B76E22;
  --blacklight: #33373A;
  --bluelight:#81B6E8;
  --rose:#F4B4B7;
  --greyblue:#8FA3B4;
  --grey:#AAACAE;
  --white:#ffffff;
  --kingblue: #103149;
}

@font-face{
  font-family: 'sedan-regular';
  src: url(./assets/fonts/Sedan-Regular.ttf);}
@font-face{
  font-family: 'segoe-print-regular';
  src: url(./assets/fonts/segoepr.ttf);
}
@font-face{
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

p{
  font-family: 'Roboto';
}

